header {
  background-color: $black-color;
  color: #fff;
}
.header__main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.header__img {
  position: absolute;

  &:first-child {
    left: 0;
  bottom: 0;

  }
  &:last-child {
    right: -10%;
    bottom: -156px;
  }
}
.header__title {
  padding: 130px 0 170px;
  max-width: 664px;
  position: relative;
  z-index: 2;
  h1 {
    font-size: 50px;
    line-height: 65px;
    margin-bottom: 24px;
  }
}
.header__descr {
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  font-family: "Hebrew", sans-serif;
  color: #adadad;
  margin-bottom: 58px;
}
.header__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
  .btn {
    width: 212px;
    font-size: 18px;
    line-height: 25px;
  }
}
