.video {
    position: relative;
    height: 100%;
    iframe {
      width: 100%;
      height: 100%;
      min-height: 100vh;
      pointer-events: none;
      position: relative;
      top: 0;
      left: 0;
    }
  }
  .video__wrapper {
    position: absolute;
    z-index: 200;
    max-width: 900px;
    padding: 50px 60px;
    font-weight: 700;
    font-size: 25px;
    line-height: 50px;
    color: #fff;
    background: rgba(32, 32, 32, 0.6);
    backdrop-filter: blur(7px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    span{
      padding: 0px 5px;
    }
    .yellow-span{
      background: $yellow-light;
      color: $black-color
    }
    .black-span {
      background: $black-color;
    }
    .blue-span {
      background: $blue-hard;
    }
  }