.coach {
  padding-top: 150px;
  padding-bottom: 180px;
}
.coach__wrapper {
  display: flex;
  flex-direction: column;
  gap: 110px;
  margin-top: 80px;
}

.coach__item {
  display: grid;
  justify-content: space-between;
  gap: 32px;
  &:first-child {
    .coach__list {
      li {
        flex: 1 1 100%;
      }
    }
  }
  &:last-child {
    .coach__list {
      li {
        flex-basis: 45%;
      }
    }
  }
  .coach__img {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .coach__name {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .coach__content {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.coach__name {
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.17em;
}
.coach__list {
  margin-top: 24px;
  padding-bottom: 32px;
  row-gap: 24px;
  column-gap: 53px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #c1c1c1;
  li {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-grow: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.16em;
    font-family: Hebrew, sans-serif;
    &::before {
      content: url(/assets/img/icons/Union.svg);
    }
  }
}
.coach__address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 150px;
  padding-top: 32px;
  row-gap: 24px;
  p {
    gap: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.16em;
    font-family: Hebrew, sans-serif;
  }
}

@media screen and (max-width: 1200px) {
  .coach{
    padding-top: 70px;
    padding-bottom: 100px;
  }
  .coach__wrapper{
    gap: 86px;
  }
  .coach__name {
    font-size: 22px;
    line-height: 30px;
  }
  .coach__img {
    img {
      width: 165px;
    }
  }
  .coach__item:first-child {
    .coach__address {
      :nth-child(2) {
        order: 3;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .coach__item {
    gap: 0;
    .coach__img {
      grid-column: 1/2;
      grid-row: 1/2;
      
      width: fit-content;
    }
    .coach__name {
      grid-column: 2/3;
      grid-row: 1/2;
      display: flex;
      align-items: center;
      h4 {
        height: fit-content;
      }
    }
    .coach__content {
      grid-column: 1/3;
      grid-row: 2/3;
    }
  }
  .coach__list {
    padding-top: 26px;
    li {
      font-size: 14px;
      line-height: 17px;
    }
  }
  .coach__address {
    p {
      font-size: 14px;
      line-height: 17px;
    }
  }
}
