.form-section {
  background: $black-color;
  padding: 105px 0;
  color: #fff;
  position: relative;

  form {
    display: flex;
    max-width: 710px;
    flex-wrap: wrap;
    column-gap: 42px;
    row-gap: 32px;
  }
  label {
    flex-grow: 1;
    flex-basis: 40%;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    &:not(:nth-child(3)) {
      display: flex;
      flex-direction: column-reverse;
      gap: 12px;
      input {
        padding: 20px 16px;
        &::placeholder {
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
    &:nth-child(3) {
      display: flex;
      align-items: center;
      flex-basis: 100%;
      input {
        margin-right: 20px;
        width: 20px;
        height: 20px;
      }
    }
    a{
        color: $blue-hard;
        text-decoration: underline;
        padding-left: 5px;
    }
  }
  button {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    font-family: Condensed, sans-serif;
    padding: 16px 24px;
    margin-top: 40px;
    letter-spacing: 0.05em;
    cursor: pointer;
    border: none;
    outline: none;
  }
}

.form-section__title {
  h2 {
    margin-bottom: 32px;
  }
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.16em;
    color: #c2c2c2;
    font-family: Hebrew, sans-serif;
    margin-bottom: 32px;
  }
}
@keyframes hello {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.hello-img{
  position: absolute;
  width: fit-content;
  top: 120px;
  right: 150px;
  img{
    &#hand{
      width: 3vw;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &#hello{
      animation: hello 20s infinite linear;
    }
  }
}

