// @import './base/normalize';
.founder {
  background: $black-color;
  color: #fff;
  padding-top: 120px;
  position: relative;
  .container {
    position: relative;
    .founder__span {
      position: absolute;
      left: -100px;
      top: -20px;
      width: 290px;
      height: 285px;
      transform-origin: left bottom;
      transform: rotate(-45deg) translateX(50%);
      img {
        width: 100%;
      }
      &.element-animation.element-show {
        transform: unset;
      }
    }
  }
}

.founder__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}
.founder__title {
  position: relative;
  h2 {
    margin-bottom: 15px;
  }
}
.founder__descr {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.17em;
  span {
    color: $blue-hard;
  }
}
.founder__list {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.16em;
  margin-top: 57px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  li {
    display: flex;
    align-items: center;
    gap: 20px;

    &::before {
      content: "";
      width: 14px;
      height: 14px;
      border-radius: 100%;
      background: $blue-hard;
      flex-shrink: 0;
      font-family: "Condensed", sans-serif;
      font-weight: 300;
    }
  }
}

@media screen and (max-width: 1400px) {
  .founder {
    .container {
      .founder__span {
        width: 213px;
        height: 225px;
        top: -20px;
        left: -50px;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .founder {
    padding-top: 60px;
    .container {
      .founder__span {
        top: -110px;
        left: -50px;
      }
    }
    img {
      width: 387px;
    }
  }
  .founder__descr {
    font-size: 22px;
    line-height: 30px;
  }
  .founder__list {
    margin-top: 32px;
  }
}
@media screen and (max-width: 992px) {
  .founder {
    padding-top: 130px;
    .container {
      .founder__span {
        left: 20%;
        top: -30%;
        &.element-animation {
          transform-origin: bottom right;
          transform: rotate(40deg);
        }
        &.element-animation.element-show {
          transform: rotate(16deg) translate(12%, 0);
        }
      }
    }
    img {
      width: 359px;
    }
  }
  .founder__wrapper {
    gap: 30px;
  }
  .founder__list {
    font-size: 16px;
    gap: 24px;
    padding-bottom: 2em;
  }
}
@media screen and (max-width: 760px) {
  .founder__wrapper {
    flex-direction: column;
  }
  .founder {
    padding-top: 184px;
    .container {
      .founder__span {
        left: 24%;
        top: -15%;
      }
    }
    img {
      width: 313px;
    }
  }
}
