header {
  padding-top: 105px;
  background-color: $black-color;
  color: #fff;
}
.header__main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.header__img {
  position: absolute;

  &:first-child {
    left: 0;
    bottom: -21px;
  }
  &:last-child {
    right: -10%;
    bottom: -156px;
  }
}
.header__title {
  padding: 130px 0 170px;
  max-width: 664px;
  position: relative;
  z-index: 2;
  h1 {
    font-size: 50px;
    line-height: 65px;
    margin-bottom: 24px;
  }
}
.header__descr {
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  font-family: "Hebrew", sans-serif;
  color: #adadad;
  margin-bottom: 58px;
}
.header__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
  .btn {
    width: 212px;
    font-size: 18px;
    line-height: 25px;
    padding: 16px 0;
  }
}

@media screen and (max-width: 1315px) {
  .header__btns{
    .btn{
      font-size: 16px;
      line-height: 22px;
      padding: 12px 0;
      width: 194px;
    }
  }
  .header__title {
    padding: 66px 0 120px;
    h1 {
      font-size: 30px;
      line-height: 39px;
      span:first-child{
        display: block;
      }
    }
    .header__descr {
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.07em;
    }
  }
  .header__img {
    &:first-child {
      left: -55px;
      bottom: -140px;
      transform: rotate(14deg);
      width: 329px;
    }
    &:last-child {
      right: -7%;
      bottom: -19px;
      transform: rotate(-14deg);
      width: 397px;
    }
  }
}
@media screen and (max-width: 992px) {
  .header__img{
    &:first-child {
      left: -68px;
    bottom: 0px;
    top: 45px;
    transform: rotate(31deg);
    width: 254px;
    }
    &:last-child{
      right: -12%;
      bottom: -66px;
      transform: rotate(1deg);
    }
  }
  .header__descr{
    max-width: 459px;
    margin: 0 auto 52px;
  }
  .header__title{
    h1{
      span:last-child{
        display: block;
      }
    }
  }
}
@media screen and (max-width: 760px) {
  header{
    padding-top: 70px;
  }
  .header__title{
    text-align: start;
    padding: 56px 0 88px;
  }
  .header__descr{
    max-width: 90%;
    margin: 0 auto 52px 0;
  }
  .header__btns{
    flex-direction: column;
    width: 100%;
    gap: 18px;
    .btn{
      width: 100%;

    }
  }
  .header__img{
    &:first-child {
      left: auto;
    right: -103px;
    bottom: 0px;
    top: -52px;
    transform: rotate(-27deg);
    width: 254px;
    }
    &:last-child{
      right: auto;
      left: -87px;
      bottom: -75px;
      transform: rotate(13deg);
    }
  }
}
