.nav__wrapper {
  padding: 18px 0;
}
.nav__list {
  gap: 32px;
  justify-content: center;
}
.nav__menu {
  display: flex;
  flex-grow: 1;
}
.nav__logo {
  flex-grow: 1;
}
.nav__link {
  transition: $transition;
  font-size: 20px;
  &:hover {
    color: $yellow-light;
  }
}
.nav__contacts {
  gap: 16px;
  font-size: 18px;
}
.nav__burger-menu {
  display: none;
}
@media screen and (max-width: 1200px) {
  .nav__link {
    font-size: 18px;
  }
}
@media screen and (max-width: 992px) {
  .nav__link {
    font-size: 16px;
  }
  .nav__logo {
    img {
      width: 91px;
    }
  }
  .nav__list {
    gap: 12px;
  }
  .nav__contacts {
    gap: 8px;
  }
}
@media screen and(max-width: 760px) {
  .nav__menu {
    position: fixed;
    background: $black-color;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    opacity: 0;
    min-height: 100vh;
    left: -100%;
    top: 70px;
    width: 0;
    gap: 100px;
    transition: 0.4s;
    height: 100%;
    z-index: 500;
    color: #fff !important;
    row-gap: 2em;
    &--active {
      opacity: 1;
      width: 100%;
      left: 0;
    }
  }
  .nav__list {
    flex-direction: column;
    align-items: unset;
    max-width: 100%;
    width: 540px;
  }
  .nav__link {
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.05em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(.nav__contacts) {
      &::after {
        content: "";
        background-image: url(/assets/img/icons/Arrow.svg);
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
  .nav__contacts {
    justify-content: unset;
    width: 540px;
  }
  .nav__burger-menu {
    position: relative;
    width: 30px;
    height: 18px;
    margin-left: auto;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    display: flex;
    z-index: 999;
    span,
    &::before,
    &::after {
      width: 100%;
      height: 3px;
      background: #fff;
      transition: 0.4s;
      content: "";
      position: absolute;
      left: 0;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      transform: scale(1);
    }
    &--active {
      span {
        transform: scale(0);
        background: #fff;
      }
      &::before {
        top: 44%;
        transform: rotate(45deg);
        background: #fff;
      }
      &::after {
        bottom: 40%;
        transform: rotate(-45deg);
        background: #fff;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .nav__menu {
    width: 100vw;
  }
  .nav__list,
  .nav__contacts {
    width: calc(100vw - 30px);
  }
}
