.video {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  video {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.video__content {
  max-width: 682px;
  height: 100%;
  color: #fff;
  background: rgba(32, 32, 32, 0.6);
  backdrop-filter: blur(7px);
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.video__title {
  font-weight: 700;
  font-size: 31px;
  line-height: 30px;
  letter-spacing: 0.16em;
}
.video__line {
  background: #fff;
  width: 122px;
  height: 1px;
}
.video__text {
  font-weight: 700;
  font-size: 25px;
  line-height: 50px;

  span {
    padding: 0px 5px;
  }
  .yellow-span {
    background: $yellow-light;
    color: $black-color;
  }
  .black-span {
    background: $black-color;
  }
  .blue-span {
    background: $blue-hard;
  }
}
@media screen and (max-width: 1200px) {
  .video__content {
    max-width: 632px;
  }
  .video__title {
    font-size: 27px;
    line-height: 37px;
  }
  .video__text {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.16em;
  }
}
@media screen and (max-width: 992px) {
  .video__title {
    font-size: 30px;
    line-height: 41px;
  }
  .video__text {
    font-size: 16px;
  }
  .video__content {
    max-width: 521px;
  }
}
@media screen and (max-width: 760px) {
  .video__title {
    font-size: 24px;
    line-height: 30px;
  }
  .video__text {
    font-weight: 400;
    span{
      font-weight: 700;
    }
    .black-span{
      background: $yellow-light;
      color: $black-color;
    }
  }
  .video__content {
    padding: 50px 24px;
    max-width: unset;
    background: #0A0E17;
  }
  
  .video {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    video {
      position: relative;
    }
  }
}
