@import "./var";

.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  position: relative;
  transition: transform .4s;
  &::after {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.42);
    animation: btn-anim 2s linear infinite;
  }
  &:hover{
    transform: scale(1.03);
  }
}
.btn-yellow {
  color: $black-color;
  background: $yellow-light;
}
.btn-blue {
  color: #fff;
  background: $blue-hard;
}
@keyframes btn-anim {
  0%{
    width: 0;
  }
  50%{
    width: 100%;
  }
  100%{
    width: 100%;
    opacity: 0;
  }
}