*{
  box-sizing: border-box;

}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  background: #efefef;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url(../fonts/OpenSansCondensed-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url(../fonts/OpenSansCondensed-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansHebrewCondensed";
  src: url(../../fonts/opensanshebrewcondensed-light-webfont.woff) format("woff");
  src: url(../../fonts/opensanshebrewcondensed-light-webfont.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansHebrewCondensed";
  src: url(../../fonts/opensanshebrewcondensed-regular-webfont.woff) format("woff");
  src: url(../../fonts/opensanshebrewcondensed-regular-webfont.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansHebrewCondensed";
  src: url(../../fonts/opensanshebrewcondensed-bold-webfont.woff) format("woff");
  src: url(../../fonts/opensanshebrewcondensed-bold-webfont.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansHebrewCondensed";
  src: url(../../fonts/opensanshebrewcondensed-extrabold-webfont.woff) format("woff");
  src: url(../../fonts/opensanshebrewcondensed-extrabold-webfont.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h2 {
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.17em;
}
main {
  overflow: hidden;
}

@keyframes btn-hover {
  0% {
    width: 0;
    left: 0;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  h2 {
    font-size: 30px;
    line-height: 41px;
  }
}
